<div class='about'>
  <h4>Gear Swap is a place for musicians to buy, sell, and swap musical instruments and accessories.</h4>

  <p>Musical instrument categories provide a convenient way to find the gear you want.</p>

  <p>Registered users can post listings of musicial instruments, accessories and related gear for sale/swap. They can also see the contact info provided on other listings.</p>

  <p>Listings only appear on the site for one week after they're created.</p>

  <h4>Registration is easy and 100% free!</h4>

  <h5>... Please sell your dog and your furniture elsewhere.</h5>

  <hr />
  <h4>Code of Conduct</h4>
  <p><strong>Be Honest</strong> - Gear Swap is a community of musicians. Be lawful and honest with the content of your listings and all communications and transactions. </p>

  <p><strong>Be Respectful</strong> - We recognize that individuals within the Gear Swap's community may have cultural differences. Please be respectful in your comments and conversations. Your 13-year old child and your grandmother should feel safe and comfortable in this community.</p>


  <p><strong>Report Objectionable Content</strong> - Don't spam or scam!  We do not allow nudity, bullies, hateful content, profanity, or content that encourages people to hurt themselves. If you find content that may be illegal or violates our <%= link_to 'Terms of Service', '/tos' %> or <%= link_to 'Privacy Policy', '/privacy' %>, report the content for review at <a href='mailto:Alert@gearswap.com'>alert@gearswap.com</a>.</p>

   <hr />

  <h4>Tell Us How to Make Gear Swap Better</h4>

  <p>We're just getting started, so there are going to be wrong notes here and there. Let us know what's working and what's not. We take your input seriously. You can get in touch with us anytime at <a href='mailto:Feedback@gearswap.com'>feedback@gearswap.com</a></p>
</div>
